<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudentMMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1>Home Page</h1>
<div>
    <a class="btn btn-primary gs" href="/login">Teacher Login</a>
</div>
<h2>Search your result</h2>
<div>
    <form th:action="@{/search}" th:object="${search}" method="post">
        <input type="text" placeholder="IndexNumber" th:field="*{index}"/>
        <input type="text" placeholder="Year" th:field="*{year}"/>
        <div class="form-group col-md-8">
        <select class="form-select" aria-label="Default select example" th:field="*{term}">
            <option selected value="FIRST_TERM">FIRST_TERM</option>
            <option value="SECOND_TERM">SECOND_TERM</option>
            <option value="THIRD_TERM">THIRD_TERM</option>
        </select>
        </div>
        <div class="col-md-6">
            <input class="btn btn-primary" type="submit" value="Search">
        </div>
    </form>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    localStorage.removeItem("name")
    localStorage.removeItem("teacher_id")
    //alert(name)
    /*]]>*/
</script>
</body>
</html>