<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show Student</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h1>All students</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Index</th>
    <th scope="col">Name</th>
    <th scope="col">Add result</th>
    <th scope="col">Show result</th>
    <th scope="col">update Student</th>
    <th scope="col">Delete Student</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="std:${students}">
    <th scope="row">1</th>
    <td th:text="${std.index_no}"/>
    <td th:text="${std.name}"/>
    <td> <a  class="btn btn-primary gs" th:href="@{/add/result/{index_no}(index_no=${std.index_no})}">Add result</a></td>
    <td> <a  class="btn btn-primary gs" th:href="@{/show/result/{index_no}(index_no=${std.index_no})}">Show result</a></td>
    <td> <a  class="btn btn-primary gs" th:href="@{/update/{index_no}(index_no=${std.index_no})}">Update Student</a></td>
    <td> <a  class="btn btn-primary gs" th:href="@{/delete/{index_no}(index_no=${std.index_no})}">Delete Student</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>